@charset "utf-8" ;

* {
    box-sizing: border-box;
    margin:0 0 0 0;
  }


#rsvpForm{
    margin-left: 2%;
    width: 45%;
    text-align: center;
}
/*create space between buttons and labels */
input{
    margin-left: 2%;
    margin-right: 2%;
}
/* give border to both lists */ 
.locations{
    padding: 10px;
    border: 10px double black;
    border-bottom: 2px solid black;
}

.outingList{
    padding:10px;
    border: solid 1px black;
}