@charset "utf-8" ;

* {
    box-sizing: border-box;
    margin:0 0 0 0;
  }


#rsvpForm{
    margin-left: 2%;
    width: 90%;
    text-align: center;
}

/*create space between buttons and labels */
input{
    margin-left: 2%;
    margin-right: 2%;
}
select{
    margin-left: 2%;
    margin-right: 2%;
}

/* give border to both lists */ 
.locations{
    padding: 10px;
    border: 4px solid black;

}

.formnav-buttons{
    
    box-sizing: border-box;
    border-radius: .25em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    transition: all .2s;
}
#nextButton{
    color:#FFFFFF;
    background-color: #adbbe6;
}
#nextButton:hover{
    background-color: #7486cf;
    border-color: #4eb5f1FF;
    color: whitesmoke;
}

#backButton{
    background-color: #FFFFFF;
    border: .15em solid #4eb5f1;
    color: #4eb5f1;
}
#backButton:hover{
    color:whitesmoke;
    background-color: #add8e5;
}



@media only screen and (min-width: 700px) {
    #rsvpForm{
        margin-left: 2%;
        width: 45%;
        text-align: center;
    }
}
